

body {
  background-color: #ebe4d9;
  color: #12100d;
  font-family: "Alegreya", serif;
}

/* navigation styling */
.header {
  position: sticky;
  width: 100%;
  padding: 0px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 30px;
  color:#574a3d;
  text-decoration: none;
  font-weight: bold;
}

.navbar a {
  font-size: 20px;
  font-weight: 700;
  color: #574a3d;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.5s;
}

.navbar a:hover {
  color: #b5b899;
  border-bottom: solid 2px #b5b899;
}

/* styling for home page */
.btn {
  background-color: #839064;
  color: #f2f0ed;
  height: 30px;
  width: 100px;
  border: 1px #839064;
  border-radius: 15px;
  transition: 0.5s;
}

.btn:hover {
  background-color: #b5b899;
  color: #574a3d;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}



/* styling for process_form.erb */

.dog_pics {
  width: 40vw;
  height: auto;
  border-radius: 25px;
}

.quote {
  width: 50%;
}
