

body {
  background-color: #ebe4d9;
  color: #12100d;
  font-family: "Alegreya", serif;
}


a {
  color: #574a3d
  text-decoration: none;
}
.dog_pics {
  width: 500px;
  height: auto;
  border-radius: 25px;
}

.quote {
  width: 50%;
  
}
